<app-header></app-header>

<body class="px-4 lg:px-8">
    <div class="flex flex-col md:flex-row items-start md:items-center justify-between px-6 md:px-40 pb-10 gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold tracking-tight text-pretty text-gray-900">
            All House plans
        </h2>

        <form
            class="w-full md:w-auto max-w-xl py-2 px-4 md:px-6 rounded-full bg-gray-50 border flex focus-within:border-gray-300">
            <input type="text" placeholder="Search anything"
                class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
                name="topic">
            <button class="flex flex-row items-center justify-center min-w-[130px] px-4 rounded-full 
            font-medium tracking-wide border disabled:cursor-not-allowed disabled:opacity-50 transition 
            ease-in-out duration-150 text-base bg-black hover:bg-white text-white hover:text-black border-2 border-black 
            font-medium tracking-wide py-1.5 h-[38px] -mr-3">
                Search
            </button>
        </form>
    </div>


    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4 sm:px-8 lg:px-20 py-6">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>

    <app-filter-button></app-filter-button>
</body>

<app-footer></app-footer>