<app-header></app-header>

<body class="px-10 lg:px-30">
    <div class="flex justify-center items-center gap-6 pb-10 pt-5">
        <div class="flex justify-center">
            <nav
                class="flex overflow-x-auto items-center p-1 space-x-1 rtl:space-x-reverse text-sm text-gray-600 bg-gray-500/10 rounded-xl">
                <button role="tab" type="button" (click)="togglePostHouse()"
                    class="cursor-pointer flex whitespace-nowrap items-center h-8 px-5 font-semibold rounded-lg outline-none {{onSelectedHouse}}"
                    aria-selected="">
                    House
                </button>

                <button role="tab" type="button" (click)="togglePostBlog()"
                    class="cursor-pointer flex whitespace-nowrap items-center h-8 px-5 font-semibold rounded-lg outline-none hover:text-gray-800 {{onSelectedBlog}}">
                    Blog
                </button>
            </nav>
        </div>
    </div>

    <!-- Post House -->
    <div class="max-w-2xl mx-auto p-4" *ngIf="onFormHouse">
        <form>
            <div class="mb-4">
                <label for="name" class="block text-gray-700 font-medium mb-2">Title</label>
                <input type="text" name="area" id="area" placeholder="Title name"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-4">
                <label for="gender" class="block text-gray-700 font-medium mb-2">Area</label>
                <div class="-mx-3 flex flex-wrap">
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <input type="number" name="area" id="area" placeholder="Enter total"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <input type="number" name="city" id="city" placeholder="Enter usable"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <input type="number" name="state" id="state" placeholder="Enter terrace"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <input type="number" name="post-code" id="post-code" placeholder="Enter garden"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-2">Have Livingroom?</label>
                <div class="flex flex-wrap -mx-2">
                    <div class="px-2 w-1/3">
                        <label for="color-red" class="block text-gray-700 font-medium mb-2">
                            <input type="radio" id="color-red" name="color" value="red" class="mr-2">Have
                        </label>
                    </div>
                    <div class="px-2 w-1/3">
                        <label for="color-blue" class="block text-gray-700 font-medium mb-2">
                            <input type="radio" id="color-blue" name="color" value="blue" class="mr-2">Doesn't have
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-2">What is your favorite animal?</label>
                <div class="flex flex-wrap -mx-2">
                    <div class="px-2 w-1/3">
                        <label for="animal-cat" class="block text-gray-700 font-medium mb-2">
                            <input type="checkbox" id="animal-cat" name="animal[]" value="cat" class="mr-2">Cat
                        </label>
                    </div>
                    <div class="px-2 w-1/3">
                        <label for="animal-dog" class="block text-gray-700 font-medium mb-2">
                            <input type="checkbox" id="animal-dog" name="animal[]" value="dog" class="mr-2">Dog
                        </label>
                    </div>
                    <div class="px-2 w-1/3">
                        <label for="animal-bird" class="block text-gray-700 font-medium mb-2">
                            <input type="checkbox" id="animal-bird" name="animal[]" value="bird" class="mr-2">Bird
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="message" class="block text-gray-700 font-medium mb-2">Message</label>
                <textarea id="message" name="message"
                    class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400"
                    rows="5"></textarea>
            </div>
            <div>
                <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Submit</button>
            </div>

        </form>
    </div>
</body>

<app-footer></app-footer>