<app-header></app-header>

<div class="flex flex-col">
    <div class="py-8">
        <div class="container mx-auto px-4">
            <h1 class="text-4xl font-bold text-gray-800 mb-2">{{blog_detail.title}}</h1>
            <p class="text-gray-600">Published on {{blog_detail.createDate}}</p>
            <app-rate [likes]="blog_detail.likes" [dislikes]="blog_detail.dislikes"></app-rate>
        </div>
    </div>
    <div class="bg-white py-8">
        <div class="container mx-auto px-4 flex flex-col md:flex-row">
            <div class="w-full md:w-3/4 px-4">
                <img src="img/house/Ex-house1.jpg" alt="Blog Featured Image" class="mb-8">
                <div class="prose max-w-none">
                    <div [innerHTML]="blog_detail.content" class="prose max-w-full"></div>
                </div>
            </div>
            <div class="w-full md:w-1/4">
                <div class="bg-gray-100 p-4">
                    <h2 class="text-xl font-bold text-gray-800 mb-4">Recent Posts</h2>
                    <div class="pb-2">
                        <app-blog-card ></app-blog-card>
                    </div>
                    <div class="pb-2">
                        <app-blog-card ></app-blog-card>
                    </div>
                    <div class="pb-2">
                        <app-blog-card ></app-blog-card>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>