<app-header></app-header>

<body class="px-4 lg:px-8">
    <div class="flex flex-col md:flex-row items-start md:items-center justify-between px-6 md:px-40 pb-1 gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold tracking-tight text-pretty text-gray-900">
            House plans🏠 
        </h2>
    </div>


    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4 sm:px-8 lg:px-20 py-6">
        <app-card></app-card>
        <app-card></app-card>
    </div>

    <div class="flex flex-col md:flex-row items-start md:items-center justify-between px-6 md:px-40 pb-1 gap-4">
        <h2 class="text-2xl md:text-4xl font-semibold tracking-tight text-pretty text-gray-900">
            Blog📝
        </h2>
    </div>


    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4 sm:px-8 lg:px-20 py-6">
        <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card>
    </div>

    <app-filter-button></app-filter-button>
</body>

<app-footer></app-footer>